:root {
  --primary: #ffaaa5;
  --background: #fcf8f3;
  --header-text: #698474;
  --accent: #ffd3b6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', sans-serif;
}
* {
  margin: 0;
}

#container {
  background-color: var(--background);
}
#content-container {
  display: flex;
  position: relative;
}

#header {
  position: relative;
  margin: 0;
  background: var(--primary);
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 12px dotted var(--accent);
}

#header div:nth-of-type(1) {
  color: var(--header-text);
  font-size: 7vh;
  border-bottom: 10px double var(--accent);
  border-top: 10px double var(--accent);
  z-index: 1;
  font-family: 'Amatic SC', cursive;
}

#header div:nth-of-type(2) {
  color: var(--header-text);
  font-size: 16vh;
  z-index: 1;
  font-family: 'Clicker Script', cursive;
}

#posts {
  margin: 4rem;
  width: 100%;
  margin: 2rem 8rem;
  z-index: 2;
}

.post {
  margin: 2rem 0;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-left: 10px solid var(--header-text); */
}

.post:nth-child(odd) {
  flex-direction: row-reverse;
  /* border-right: 10px solid var(--header-text);
  border-left: none; */
}

.user {
  margin-bottom: 0.7rem;
}

.post-img {
  height: 250px;
  width: 300px;
  overflow: hidden;
  display: flex;
}

.post-img + div {
  width: 500px;
}

.post-img img {
  align-self: center;
  width: 300px;
}

.title {
  margin: 0;
  cursor: pointer;
}

.title:hover {
  color: var(--header-text);
  text-decoration: underline wavy var(--header-text);
}

.body {
  margin-top: 5px;
}

.triangle {
  position: absolute;
  z-index: 1;
  border-left: 50vw solid var(--header-text);
  border-bottom: 50vw solid transparent;
  border-top: 50vw solid transparent;
  top: 0;
}
